   /* FIRST PAGE */
   .first{
    background-image: url("fav.png");
    width: 1330px;
    height:600px;
    background-color: blueviolet;

}
img{
width: 70px;
height: 40px;
margin-left: 15px;
box-shadow: 0 3px 5px black;
}
.d1{
border: 2px solid;
width: 1200px;
height: 40px;
border-radius: 25px;
margin-left: 70px;
margin-top: -3px;
background-color:whitesmoke;
border-color: white;
}
.u1{
display: flex;
justify-content: center;
position: relative;
padding-right: 40px;
}
.l1{
list-style-type: none;
margin-top: -46px;
}
.a1{
text-decoration: none;
padding-left: 40px;
list-style-type: none;
color: black;
padding: 10px 10px;
}
.a1:hover{
color: white;
background-color:blueviolet;
border-radius: 15px;
width: 15px;
}
.d2{
margin-left: 250px;
margin-top: 95px;
}
.p1{
font-size: 40px;
}
.p2{
word-spacing: 2px;
}
.b1{
background-color: blue;
color: white;
height: 40px;
border-radius: 25px;
border-bottom:2px solid white;
cursor: pointer;

}
.b1:hover{
background-color: transparent;
color:black ;
transform: scale(1.2);
}
/* SECOND PAGE */
.main2{
background-color: black;
}
.d3{
display: flex;
justify-content: center;

}
.s1{
border-style: solid;
width: 150px;
height: 100px;
background-color: whitesmoke;
text-align: center;
padding-top:40px;
margin-right: 10px;
}
hr{
width: 100px;
color: blueviolet;
}
.s{
color: white;
text-align: center;
}
/* THIRD PAGE */
.main3{
display: flex;
justify-content: center;
 width: 1400px;
}
.s2{
border: solid;
width: 230px;
height: 320px;
margin-left: 10px;
background:linear-gradient(rgb(172, 172, 247),rgb(79, 79, 240),blueviolet);
margin-bottom: 50px;
}
.img2{
width: 200px;
height: 150px;
box-shadow: 0 0 30px black;
}
.i1{
margin-left: 10px;
color: whitesmoke;
}
.b2{
background-color: blue;
color: white;
width: 200px;
height: 30px;
border-radius: 25px;
border-bottom:2px solid white;
border-top:2px solid black ;
cursor: pointer;
margin-left: 20px;
}
.b2:hover{
background-color: transparent;
color:black ;
transform: scale(1.1);
}
/* FOURTH PAGE */
.main4{
background-color: blueviolet;
color: whitesmoke;
width: 1330px;
}
.d4{
display: flex;
justify-content: center;
text-align: center;
}
.s3{

width: 300px;
height: 150px;
text-align: center;
margin-left: 30px;
margin-right: 10px;
padding-bottom: 50px;
padding-top: 50px;
}
.x1{
margin-left: 160px;
}
.x2{
width: 0;
}
/* FIFTH PAGE */
.main5{
background-color:black;
width: 1330px;
}
.u2{
display: flex;
justify-content: space-between;
list-style-type: none;
padding-top: 50px;
margin-left:600px;

}
.l2{
color: white;
font-size: 15px;
width: 50px;
padding: 10px 10px;
}
.l2:hover{
color: white;
background-color:blueviolet;
border-radius: 15px;
width: 15px;
}
.l7{
margin-left: 100px;
}
.s4,.s5{
border: 2px solid;
width: 500px;
height: 350px;
border-radius: 15px;
background-color: rgba(22, 21, 21, 0.61);
box-shadow: 0 0 10px;
border-color: rgba(22, 21, 21, 0.61);
}
.pic3,.pic4{
padding: 20px 10px;
width: 210px;
height: 300px;
}
.box1{
display: flex;
justify-content: space-between;
padding: 15px 90px;
border-radius: 15px;
padding-bottom: 70px;
}
.l3,.l4{
margin-top: 20px;
margin-right: 10px;
width: 230px;
height: 300px;
float: right;
}
/* LAST PAGE */
.s6{
border: 2px solid;
background-color: blueviolet;
width: 1330px;
height: 60px;
border-color: blueviolet;
}
.l8{
color: white;
text-align: center;
}
